.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }

.header{
  background-color:#161925;
  color: white;
  
}